.contentLogin .formlogin { border: 1px solid #bcbec0; }
.contentLogin .formlogin h4 { height: 45px; }
.linksOut { bottom: 145px; }
.bg-modal { background: transparent url("../img/bg-modal-ie.png") center center repeat; }
