#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
*.psd
*.pdf
*.ai
*.indd
*.pptx
TerritorioMarcaInsper/
TerritorioMarcaInsper
guidelinePWC/
appComexTAI/
workbook-design-ee/

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

