#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
*.psd
*.pdf
*.ai
*.indd
*.pptx
*.docx
TerritorioMarcaInsper/
TerritorioMarcaInsper
guidelinePWC/
purposebrochure.pdf
appComexTAI/

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

