// VARIAVEIS
// // // // // // // // // // // // // // // // // // // // // // //

/* grid */
$grid30: 1.875em; // 30px / 16px
$grid40: 2.5em; // 40px / 16px

/* color */
$colorPrimary: rgb(238,42,98); // MAGENTA
$colorSecundary: rgb(20,133,204); // AZUL
$colorTertiary: rgb(238,42,98); // MAGENTA DARK
$colorQuartenary: rgb(252,180,61); // AMARELO
$colorQuintenary: rgb(69, 170, 11); // VERDE
$colorCinza-1: rgb(240,240,240);

