/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Code project
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// // // // // // // // // // // // // // // // // // // // // // //
// PRESET & VARIABLES
// // // // // // // // // // // // // // // // // // // // // // //

// GRID //
$grid40: 40px;	
$grid30: 30px;

// COLOR //
$vermelho: rgb(219,5,52);
$amarelo: rgb(250,166,26); // amarelo gradient (UI)
$cinza: rgb(65,65,65);

// MIXIN'S //
@mixin transition($transition) {
    -webkit-transition: $transition;
    		transition: $transition;
}
@mixin gradient() {
	background: -webkit-linear-gradient(top, $vermelho , $vermelho); // For Safari 5.1 to 6.0 //
	background: -o-linear-gradient(top, $vermelho, $vermelho); // For Opera 11.1 to 12.0 //
	background: -moz-linear-gradient(top, $vermelho, $vermelho); // For Firefox 3.6 to 15 //
	background: linear-gradient(to bottom, $vermelho , $vermelho); // Standard syntax //
}
@mixin make_link() {
	color: $vermelho;
	&:visited { color: $vermelho; }
	&:hover, &:active, &:focus { color: darken($vermelho, 7%); }
	&[href^="http://"]:after,
	&[href^="https://"]:after {
		content: "";
		width: .825em;
		height: .825em;
		background: url("../img/a/blank.png") center center no-repeat;
	 	background-size: 100%;
		display: inline-block;
	 	margin-left: .25em;
	}
}

// IMPORTS //
@import "icones/*.png" ;
@include all-icones-sprites;

// PRESET //
// // // // // // // // // // // // // // // // // // // // // // //

body { 
	color: $cinza;
	background: url("../img/crossword.png") left top repeat;
}

.container { 
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
			box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
	border: 1px solid rgb(235,235,235);
    margin: 2em auto;
	border-radius: 5px;
	padding: $grid40/2;
}

table {
	thead {
		th { 
			color: #ffffff;
			background-color: $vermelho;
		}
	}
}

ul {
	li {
		margin-bottom: 3px;
	}
}

// // // // // // // // // // // // // // // // // // // // // // //
// CRITERIOS DE EXCELENCIA EM ENSINO
// // // // // // // // // // // // // // // // // // // // // // //

div[role="main"] {
	.img-title {
		display: block;
	    max-width: 100%;
	    height: auto;
	}
	.title-page {
		color: $cinza;	
		font-size: 2.25em;
		margin: 1em 0 0;
	}
	a:not(.not-link-blank) { @include make_link() }
	.txt { margin: ($grid40/2) 0; }
	
	// section: strands
	.itens {
		@include make-md-column(4);
		padding-left: 0;
		padding-right: 0;
		.img-ico {
			display: block;
			width: 100px; // larg da img
			height: 125px; // alt da img
		}
		> h2 {
			color: $vermelho;
			font-size: 1.5em;
			margin: ($grid40/4) 0;
		}
	}
	.itens-tp {
		@include make-md-column(6);
		padding-left: 0;
		padding-right: 0;
	}
	
	//section: steps
	.steps {
		.table, .table-responsive { margin-bottom: 0; }
	}

	// section: strands (cee)
	.strands-cee {
		.row-cee {
			@include make-md-column(6);
			padding-left: 0;
			padding-right: 0;
			.itens { 
				@include make-sm-column(6);
				@include make-md-column(6);
			}
		}
	}
	.table-criterio {
		margin: $grid40/2 0;
		table {
			ul {
				padding-left: $grid40/2;
				margin-bottom: 0;
				li {
					margin-bottom: $grid40/4;
					&:last-child{ margin-bottom: 0; }
				}
			}
		}
	}

	// footer
	footer {
		margin: 2em 0;
		h4 {
			font-weight: 700;
			font-size: 1em;
			margin: 0;
		}
		p { margin: 0; }
		ul { padding-left: $grid40; } // default metrics browser
		li { 
			@include make-sm-column(6);
			margin-bottom: $grid40/2;
			padding-bottom: $grid40/2;
			a {
				color: $cinza;
				display: block;
				padding-top: .25em;
				&:before {
					content: "";
					width: 1.75em;
					height: 1em;
					background: url("../img/a/email.png") center center no-repeat;
				 	margin-right: .25em;
				 	display: inline-block;
				}
			}
		}
		.logo {
			clear: both;
			text-align: center;
			a {
				display: inline-block;
    			margin: .25em;
			}
			img { max-width: 8em; }
		}
	}
}

// Desktop | large desktop
// // // // // // // // // // // // // // // // // // // // // // //
@media (min-width: 992px) {
	div[role="main"] {
		header h2, .table-criterio table {
				width: 90%;
				margin-left: auto;
				margin-right: auto;
		}
		.table-criterio {
			table {
				tr {
					td:first-child { 
						width: 12em;
						vertical-align: middle;
    					text-align: center;
					}
				}
			}
		}
	}
}

// Tablet
// // // // // // // // // // // // // // // // // // // // // // //
@media (min-width: 768px) {
	div[role="main"] {
		header {
			h2 { 
				width: 91.33%;
			    margin-left: auto;
			    margin-right: auto;
			}
		}
	}

}

// Mobile
// // // // // // // // // // // // // // // // // // // // // // //
@media (max-width: 767px) {
	.container { margin: 0 auto; }
	div[role="main"] {
		.img-title { display: none; } // hide banner
		.title-page { // small size title page
			font-size: 1.8em;
			margin: 0;
		} 
		ul { padding-left: $grid40/2; } // reindent padding left of the bullet's
	}
}


/*
// // // // // // // // // // // // // // // // // // // // // // //
// SUBMETER RELATÓRIO DE AUTOAVALIAÇÃO DOCENTE: TUTORIAL
// // // // // // // // // // // // // // // // // // // // // // //
div[role="main"] {
	.content {
		.first-title{ margin-top: 0; }
		h3 {
			font-size: 1.25em;
		    margin: $grid40 0 ($grid40/8);
		    font-weight: 700;
		}
		figure {
			margin: ($grid40/4) 0;
			img {
				// border: 1px solid rgb(235,235,235);
				padding: 2px;
				border-radius: 2px;
			}
			figcaption {
				border: 1px solid $vermelho;
				padding: ($grid40/4);
			    border-radius: 2px;
			    margin: ($grid40/8) 0 ($grid40/2);
			    position: relative;
			    padding-left: 3em;
			    .number {
		    	    font-size: 1.25em;
				    width: 1.37em;
				    height: 1.37em;
				    display: block;
				    text-align: center;
				    background-color: $vermelho;
				    color: #ffffff;
				    border-radius: 50%;
				    // position
				    position: absolute;
				    left: .5em;
				    top: 50%;
				    margin-top: -.675em;
			    }
			}
		}
		.caution {
			color: #8a6d3b;
		    background-color: #fcf8e3;
		    border: 1px solid #faebcc;
		    border-radius: 4px;
		    padding: $grid40/4;
		    margin-bottom: $grid40;
		    p { margin: 0; }
		}
	}
}

// Tablet
// // // // // // // // // // // // // // // // // // // // // // //
@media (min-width: 768px) {
	div[role="main"] {
		.content {
			figure figcaption {
				width: 75%;
				margin-left: 12.5%;
				
			}
			.caution {
				width: 60%;
				margin-left: 20%;
			}
			figure {
				img { 
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
}

// Desktop | large Desktop
// // // // // // // // // // // // // // // // // // // // // // //
@media (min-width: 992px) {
	div[role="main"] {
		// body...
	}
}

// // // // // // // // // // // // // // // // // // // // // // //
// PÁGINA INICIAL: ESCOLHA DO PERFIL
// // // // // // // // // // // // // // // // // // // // // // //
.container-index { 
	margin-top: 5% !important; // sobrescrever a especificidade da class no bootstrap
}
div[role="main"] {
	.txt-home {
		p {
			font-size: 125%;
			margin: ($grid40/2) 0;
			text-align: center;
		}
	}
	.type-profile {
		text-align: center;
		margin-bottom: $grid40/2;
		.itens {
			margin: ($grid40/4) 0;
			a {
				display: block;
				font-size: 125%;
			}
			// remove ico target '_blank'
			.no-ico-link-index:after { display: none; }
		}
		.img-ico-profile {
			display: block;
			height: 95px; // w of img
			width: 85px; // h of img
			margin: 0 auto;
		}
	}
}

// Tablet
// // // // // // // // // // // // // // // // // // // // // // //
@media (min-width: 768px) {
	div[roele="main"] {
		.txt-home {
			p { font-size: 150%; }
		}
		.type-profile {
			.itens { margin: ($grid40/2) 0; }
		}
	}
}

// Desktop | large Desktop
// // // // // // // // // // // // // // // // // // // // // // //

@media (min-width: 992px) {
	div[role="main"] {
		.type-profile {
			.itens { @include make-md-column(6);}
		}
	}
}
*/

