/* ********************************************************
	BUG FIXES
*********************************************************/
.wrapper  {
    width: 100%;
    max-width: 1200px;
    
    margin: 0 auto;
}
// a
a { color: rgba(0,0,0,.87) }
// img
img[src^="assets/img/example"] { max-width: 100%; }

// icon line base text
[class^="material-icons"] {
    position: relative;
    bottom: -3px;
}

// estilizando icones
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }

// width for container
.intro-section {
	max-width: 960px;
	margin: 0 auto;
}
// alinhando conteúdo no centro
.center {
	align-items: baseline; // alinhar verticalmente no top
	justify-content: center;
}
.mdl-card { width: 100%; }

/* ********************************************************
    VARIABLES
*********************************************************/
$color-brand: rgb(244, 67, 54);


/* ********************************************************
	LAYOUT DA BUDEGA
*********************************************************/

/* HEADER */
.header-logo-image {
	display: block;
    margin: 0 auto;
}

// texto de introdução
.introd {
	padding: 0 2rem;
    text-align: center;
}
.text-introduction { margin-top: -1rem; }

// subtítulo das categorias dos eventos
.subtitle-evento {
    padding: 0 2rem;
    margin: 2rem 0 -.5rem;
    text-align: center;
}

/* CARDS */
.card { padding: 1rem; }

.card-data-evento {
	color: #616161;
    font-size: 1.4rem;
    margin-bottom: .25rem;
    text-transform: uppercase;
    font-weight: 700;
}

.card-nome-evento {
    font-size: 1.8rem;
    color: $color-brand;
    line-height: 2.25rem;
    margin-bottom: 0rem;
}
.nome-evento-concluido { color: #616161; }
.card-dataLocal-evento {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.54);
    font-size: 1rem;
}
.card-imagem-evento {
    max-width: 100%;
    display: block;
}
.card-descricao-evento {
	font-size: 1.125rem;
    line-height: 1.45rem;
    padding: 1rem 0;
    width: 100%;
}

.card-linkDetalhes-evento {
    border-bottom: 1px solid transparent;
    color: $color-brand;
    &:hover, &:focus {
	    border-bottom: 1px solid $color-brand;
        background-color: transparent;
    }
    &:active { background-color: rgba(244, 67, 54, .2); }
}
/* ********************************************************
    LAYOUT DA PAGINAS DOS EVENTOS DA BUDEGA
*********************************************************/
// regras para toda página event
.page-event {
    background-color: rgb(225,225,225);
    p, li, div { font-size: 16px; }
}

// imagem do topo da página
.image-banner-event {
    margin: 1rem auto 0;
    display: block;
    max-width: 100%;
}

// divisória entre imagem e conteúdo de texto
.divise-img-title {
    margin: 4rem auto;
    width: 20%;
    border-top: 10px solid $color-brand;
}

// título e conteúdo da página
.subtitle-event { color: $color-brand; }

.container {
    width: 75%;
    margin: 0 auto;
    display: block;
    border-left: 1px solid #e6e7e8;
    border-right: 1px solid #e6e7e8;
    padding: 1rem;
    background-color: #fff;
}

// botão voltar
.btn-back {
    margin: 3rem 0;
    text-align: center;
}