/* reset */
@import "compass/reset";


/////////////////////////////////////////////////////////////////////
//	variables
/////////////////////////////////////////////////////////////////////

// colors
$cinza-1: rgba(245,245,245,1);
$cinza-2: rgba(240,240,240,1);
$cinza-3: rgba(235,235,235,1);
// institucionais
$cinza-a: #e6e7e8;
$cinza-b: #bcbec0;
$cinza-c: #414042;

$red-a: #c00026;
$red-b: #c4161c;

//font(s)
$font: "verdana", "arial", "sans-serif";


/* content page */
/////////////////////////////////////////////////////////////////////
//	icos sprite
/////////////////////////////////////////////////////////////////////

@import "compass/utilities/sprites";
@import "../img/icos/*.png";
@include all-icos-sprites;

/////////////////////////////////////////////////////////////////////
// .icos-sprite,
// .icos-acrobat32x32,
// .icos-crhome42x42,
// .icos-firefox42x42,
// .icos-flash32x32,
// .icos-java52x32,
// .icos-macOSX62x52,
// .icos-safari42x42,
// .icos-windows62x52
/////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////
//	content page
/////////////////////////////////////////////////////////////////////

body {
	font: normal 100%/1.6875 $font;
	background: $cinza-a url("../img/bg_texture_insper.png") no-repeat center top;
}