/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Code project
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Sticky footer styles
 *** temp ***
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 91px;
}
footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 91px;
}

// // // // // // // // // // // // // // // // // // // // // // //
// PRESETS
// // // // // // // // // // // // // // // // // // // // // // //

// // variables // //
// grid
$grid30: 30px;
$grid40: 40px;
// color
$amarelo: #f1c40f;
$verde: #30bc9c;
$azul: #3a99d9;
$vermelho : #9b3336;
$vermelhoEscuro: #82292C;
// typography
//  default size: 16px // 

// selection color
#contratacao {
	::-moz-selection { background-color: #F9E594; }
	     ::selection { background-color: #F9E594; }
}
#questoes-operacionais {
	::-moz-selection { background-color: #40E8C3; }
	     ::selection { background-color: #40E8C3; }
}
#consulta-rapida {
	::-moz-selection { background-color: #34BEF3; }
	     ::selection { background-color: #34BEF3; }
}

.content { margin-top: $grid40; position: relative; }

@media screen {
	a[href^="http://"]:after,
	a[href^="https://"]:after {
		// font-family: "Glyphicons Halflings";
	 	// 	content: "\e164";
	 	// font-size: .825em;
		content: "";
		width: .875em;
		height: .875em;
		display: inline-block;
		background: url("../img/link-blank.png") center center no-repeat;
	 	margin-left: .25em;
	 	background-size: 100%
	}
}

// MENU GLOBAL
// // // // // // // // // // // // // // // // // // // // // // //

// sprite icons - menu global
@import "ico-menu/*.png";
@include all-ico-menu-sprites;
// // result: .ico-menu-amarelo, .ico-menu-verde, .ico-menu-azul // //

div[role="main"] {
	.menu-global {
		nav[role="navigation"] {
			.active-amarelo { border-bottom: 3px solid $amarelo; }
			.active-verde { border-bottom: 3px solid $verde; }
			.active-azul { border-bottom: 3px solid $azul; }
			li { padding: 0 0 5px 5px; }
			a {
				display: block;
				color: #414042;
				width: 100%;
				height: $grid40+1;
				text-decoration: none;
				line-height: 2.5em; // alignh text vertical. Not apply in itens with more 2 lines.
				overflow-y: hidden; // eliminate text over 2 lines
				&:hover { text-decoration: underline; }
				span { 
					margin-left: $grid40+15;
					display: block;
					border-right: 1px solid #e6e7e8;
				}
			}
			li:last-child {
				span { border-right: none; }
			}
			.ico-menu-amarelo, .ico-menu-verde, .ico-menu-azul { background-position-x: 5px; }
			a.ico-menu-verde { line-height: 1.3em; }
		}
	}
}

@media (max-width: 767px) {
	div[role="main"] {
		.menu-global {
			margin-top: $grid40;
			nav[role="navigation"] {
				.active-amarelo { border-bottom: none; background-color: #F5F5F5; }
				.active-verde { border-bottom: none; background-color: #F5F5F5; }
				.active-azul { border-bottom: none; background-color: #F5F5F5; }
				li {
					padding: .5em;
					margin-bottom: 5px;
					display: block;
					width: 100%;
				}
				a {
					font-size: .925em;
					overflow-y: visible;
					span { border-right: none; }
				}
				a.ico-menu-verde { 
					span { padding-top: 0.7em; }
				}
			}
		}
	}
}
@media (max-width: 375px) {
	div[role="main"] {
		.menu-global {
			nav[role="navigation"] {
				a.ico-menu-verde {
					span { padding-top: 0.2em; }
				}
			}
		}
	}
}

// MENU LATERAL
// // // // // // // // // // // // // // // // // // // // // // //

// sprite icons - menu lateral
@import "ico-menuzinho/amarelo/*.png";
@include all-amarelo-sprites;

@import "ico-menuzinho/verde/*.png";
@include all-verde-sprites;

@import "ico-menuzinho/azul/*.png";
@include all-azul-sprites;

div[role="main"] {
	.menu-lateral {
		position: absolute;
		top: 0;	
		min-width: 320px;
		width: 25%;
		max-width: 345px;
		font-size: 0.875em;
		padding-left: $grid40/4;
		h5 {
			font-size: 1.075em;
			margin: 0;
			height: $grid30;
    		padding-top: 0.375em;
			span {
				margin-left: $grid40;
				display: block;
			}
		}
		ul {
			margin-left: 1em;
			li {
				margin-bottom: $grid30/6;
				a {
					color: $vermelho;
					&:hover, &:focus { color: $vermelhoEscuro; }
					&:focus { text-decoration: none; }
				}
			}
		}
		// itens: menu global
		.add-itens-mg {
		    margin: 1em 0 0 0;
		    border-top: 1px solid #f3f3f3;
		    padding: 1em 0;
		    display: none;
		    li { 
		    	margin: 0 0 1em 0;
		    	padding: 0;
		    	width: 100%;
		    	a {
			    	display: block;
		    		min-height: $grid40+1;
		    		color: #414042;
		    		position: relative;
		    		&:hover { color: #414042; }
		    		span {
	    			    margin-left: $grid40+10;
	    				display: block;
	    				position: absolute;
	    				top: 50%;
	    				margin-top: -.8em;
		    		}
			    }
			    .ico-menu-verde { 
	    			span { margin-top: -1.2em; }
    			}
		    }
		}
	}
	// fixed menu in scroll
	.fixed-menu { 
		position: fixed;
		top: $grid40/4;
		z-index: 999;
	}
}

// class for used while scroll page
.active { font-weight: 700; letter-spacing: -0.04em; }

// hide menu/components in medium devices
@media (min-width: 992px) {
	.menu-lateral-small-device,
	.button-menu-lateral,
	.bg-menu-lateral-sd { display: none; }
}

// MENU LATERAL : small device
// // // // // // // // // // // // // // // // // // // // // // // 
.menu-lateral-sd {
    background-color: #fff;
    font-size: .875em;
    padding: 3em 1em 1em 1em;
    position: fixed;
    width: 280px;
    border-top: 5px solid transparent;
    overflow: auto;
    z-index: 10001;
    top: 0;
    left: -279px;
    height: 100%;
    display: none;
	-webkit-box-shadow: 5px 0px 4px 2px rgba(0,0,0,.14),0px 0px 9px 10px rgba(0,0,0,.14);
        	box-shadow: 5px 0px 4px 2px rgba(0,0,0,.14),0px 0px 9px 10px rgba(0,0,0,.14);
	.place {
	    font-size: .75em;
	    color: #A7A7A7;
	    margin: 0;
	    padding: 0;
	}
    h4 {
	    font-size: 1.25em;
	    margin-bottom: 2em;
	    margin-top: 0;
	    border-bottom: 1px solid #676767;
	    padding-bottom: .25em;
    }
    h5 {
		font-size: 1em;
    	margin: 0 0 .25em 0;
    	font-weight: 700;
	}
	ul {
		margin-bottom: $grid40/2;
		li {
			a {
				display: block;
				padding: .5em 0;
				color: $vermelho;
				line-height: 1.25em;
				&:hover { color: $vermelhoEscuro; }
			}
		}
	}
	// itens: menu global
	.add-itens-mg-sd {
	    margin: 0;
	    border-top: 1px solid #f3f3f3;
	    padding: 1em 0;
	    li { 
	    	margin: 0 0 1em 0;
	    	padding: 0;
	    	width: 100%;
	    	a {
		    	display: block;
	    		min-height: $grid40+1;
	    		color: #414042;
	    		position: relative;
	    		&:hover { color: #414042; }
	    		span {
    			    margin-left: $grid40+10;
    				display: block;
    				position: absolute;
    				top: 50%;
    				margin-top: -.8em;
	    		}
		    }
		    .ico-menu-verde { 
    			span { margin-top: -1.2em; }
			}
	    }
	}
}
.menu-l-sd-amarelo { border-color: $amarelo }
.menu-l-sd-verde { border-color: $verde }
.menu-l-sd-azul { border-color: $azul }

// BACKGROUND: MODAL
// // // // // // // // // // // // // // // // // // // // // // //
.bg-menu-lateral-sd {
	background-color: rgba(0,0,0,.1);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1000;
}


// // // // // // // // // // // // // // // // // // // // // // //
// HOME
// // // // // // // // // // // // // // // // // // // // // // //

div[role="main"] {
	section.options-home {
		padding-top: $grid30*2;
		div { 
			text-align: center;
			margin-bottom: $grid30*2;
		}
		h2 {
			margin-top: $grid40/2;
			margin-bottom: $grid40/4;
			font-size: 1.25em;
			font-weight: 700;
		}
		p { margin-bottom: $grid30; }
		.btn-primary {
			background-color: #00acc9;
			border-color: transparent;
			font-size: .875em;
			&:hover {
				background-color: #029BB5;
			}
		}
		.btn-lg { padding: 1em 2em; }
	}
}


// // // // // // // // // // // // // // // // // // // // // // //
// CONTRATACAO
// // // // // // // // // // // // // // // // // // // // // // //

div[role="main"] {
	.content-text {
		margin-bottom: $grid30;
		.button-menu-lateral-cr { display: none; }
		.button-menu-lateral {
		    position: fixed;
		    right: 20px;
		    top: 80%;
		    z-index: 300;
			button {
		       	background-color: #fff;
			    border: 1px solid #ea0863;
			    padding: .5em .5em .375em .5em;
			    border-radius: 4px;
			    cursor: pointer;
			    span { 
	    	        font-size: 2em;
	    	        text-align: center;
					color: #ea0863;
			    }
			}
		}
		a {
			color: $vermelho;
			&:hover { color: $vermelhoEscuro; }
		}
		h1 {
			font-size: 2em;
			margin: 0 0 ($grid40/8) 0;
			color: #414042;
			letter-spacing: -1px;
		}
		h2 {
			font-size: 1.5em;
			font-weight: 700;
			border-bottom: 2px solid #414042;
    		padding-bottom: 5px;
    		color: #414042;
    		margin-top: $grid40;
		}
		h3 { 
			font-size: 1.25em;
		}
		h4 {
		    font-size: 1em;
		    font-weight: 700;
		    margin-bottom: 0;
		}
		h5 {
			font-weight: 700;
		    margin-bottom: 0;
		}
		.container-h4 { margin-left: 1em }
		.well {
			margin: ($grid40/2) 0 $grid40 0;
			background-color: #fff;
   			-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
   			        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    		padding: $grid40/4;
    		display: block;
			.list-inline { margin-bottom: 0; }
			ul + p { margin-top: 1em; }
			// .no-p li { margin-top: 0; }
		}
		.well-contratacao { border-left: 5px solid #f0c40f; }
		.well-questoes-operacionais { border-left: 5px solid #30bc9c; }
		.well-consulta-rapida { border-left: 5px solid #3a99d9; margin-top: $grid40; }
		li {
			margin: 0 0 1em 0;
		    padding-left: 2.25em;
			span {
				color: #5a5a5a;
				font-size: 1.5em;
				&:before {
					position: absolute;
				    left: -1.375em;
    				top: -16px;
				}
			}
		}
		.table-aca {
			border: 1px solid #ddd;
			thead {
				th { background-color: #404040; }
			}
			tbody {
				td { width: 50%; }
			}
		}
	}
}

@media (min-width: 992px) {
	div[role="main"] {
		.content-text {
			h2 { margin-top: $grid40; }
		}
	}
}

// // // // // // // // // // // // // // // // // // // // // // //
// QUESTOES OPERACIONAIS
// // // // // // // // // // // // // // // // // // // // // // //


// // // // // // // // // // // // // // // // // // // // // // //
// CONSULTA RAPIDA
// // // // // // // // // // // // // // // // // // // // // // //

div[role="main"] {
	.content-text {
		.table-consulta-rapida {
			margin-top: $grid30;
			// max-width: 870px;
			caption { 
				width: 90%;
    			margin: 0 auto;
				text-align: center;
			}
			thead > tr { background-color: #6bb3e3; }
			thead > tr th { 
				padding: 1em .25em;
				color: #fff;
				text-align: center;
				font-weight: 400;
			}
			tbody tr:nth-child(even) { background-color: #f9f9f9; }
			tbody tr:nth-child(odd) { background-color: #fff; }
			tbody { font-size: 87.5%; }
			tr td { 
			    width: 25%;
			    vertical-align: middle;
			    text-align: center;
			}
		}
	}
}

@media (max-width: 767px) {
	div[role="main"] {
		.content-text {
			.table-consulta-rapida {
				td { 
					padding: 4px 2px;
				}
				p { margin: 0; }
			}
		}
	}
}

// // // // // // // // // // // // // // // // // // // // // // //
// IMPRESSAO
// // // // // // // // // // // // // // // // // // // // // // //

@media print {

	@page { margin: 1,5cm; }

	body { line-height: 1.55em; }

	img { max-width: 100%; }
	
	.breadcrumb {
		display: block !important;
	    border-bottom: 1px solid #ccc;
	    border-top: 1px solid #ccc;
	    padding: 5px;
	    margin: 1em 0 6em 0;
	    font-size: .75em;
	}

	.content { margin-top: $grid40/2 }

	div[role="main"] {
		width: 100%;
		margin: 0;
		float: none !important;
		p a,
		li a { word-wrap: break-word; }
		.content-text {
			h2 {
				border: none;
				margin-bottom: 0;
			}
			.well { 
				page-break-inside: avoid;
				width: 90%;
				margin: ($grid40/2) auto;
				border-radius: 0;
			}
			.well-contratacao { border: 1px solid $amarelo; border-left-width: 5px; }
			.well-questoes-operacionais { border: 1px solid $verde; border-left-width: 5px; }
			.well-consulta-rapida { border: 1px solid $azul; border-left-width: 5px; }
			li { margin: 0; }
		}
		table {
			thead { 
				font-weight: 700;
				display: table-header-group;
			}
		}
	}
}
