// // // // // // // // // // // // // // // // // // // // // // //
// AVALIACAO INTEGRADA DO DOCENTE 2016-2017
// Algumas regras adicionais necessárias para customizção
// // // // // // // // // // // // // // // // // // // // // // //

/* Critérios de Excelência em Ensino */
// // // // // // // // // // // // // // // // // // // // // // //

div[role="main"] {
	
	// Título da página
	.title-page-2016-2017 { 
		text-align: center;
		margin: 1.52em 0;
	}
	
	// Sprite dos ícones
	@import "icons/*.png";
	@include all-icons-sprites;
	.icones-tipos-criterios {
		content: "";
	    display: inline-block;
	    width: 66px; // tamanho do ícone [img]
	    height: 81px; // tamanho do ícone [img]
	}

}

